.barra_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 8px;
}
.barra_menu-buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 70px;
    right: 8px;
}
.barra_menu-buttom-add {
    margin-top: 8px;
}
.barra_menu-buttom-back {
    margin-top: 8px;
}
.barra_menu-search {
    width: 100%;
}

.barra_menu-relleno {
    width: auto;
}

@media only screen and (min-width: 992px) {
    .barra_menu {
        justify-content: space-between;
    }
    .barra_menu-buttom {
        position: static;
        flex-direction: row;
    }
    .barra_menu-buttom-add {
        position: absolute;
        right: 0px;
    }
    .barra_menu-buttom-back {
        margin-right: 8px;
    }
    .barra_menu-search {
        display: flex;
        justify-content: center;
    }
    .barra_menu-relleno {
        width: 100px;
    }
}
