.box_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    background: #B0DAEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    position: sticky;
    top: 8px;
}
.box_header h5 {
    padding: 0;
    margin: 0;
    color: #0056A6;
    line-height: 20px;
}
.box_header h6 {
    padding: 0;
    margin: 0;
    color: #5E5E5E;
}
.box_header div:nth-child(3) {
    color: #5E5E5E;
    line-height: 16px;
}

.box_header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_header-title > h5 {
    margin-right: 8px;
}
.box_header-title > div {
    text-align: center;
}


.menu_buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 8px;
}
.box_botton-play {
    margin-top: 10px;
}
.menu_buttom-edit {
    margin-top: 10px;
}



.box_contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin-bottom: 2.5em;
}
.box_contenido-verso {
    padding-bottom: 1em;
    white-space: pre-line;
}
.box_contenido-coro {
    font-style: italic;
    padding-bottom: 1em;
    white-space: pre-line;
    margin-left: 1.2em;
}

.box_video {
    width: 100%;
    margin-bottom: 30px;
}
.box_video iframe {
    width: 100%;
    height: 200px;
}

@media only screen and (min-width: 768px) {
    .menu_buttom {
        position: absolute;
        right: 1em;
        top: 4em;
    }
    .box_contenido {
        width: 500px;
    }
    .box_video {
        width: 50%;
    }
    .box_video iframe {
        height: 300px;
    }
}