.box_btnback {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #dddddd;
    border-radius: 40px;
    padding: 8px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_btnback:hover {
    background-color: #cecece;
}
.box_btnback a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100%;
}
.box_btnback img {
    width: 23px;
}
.box_btnback div {
    display: none;
    color: #FF7D00;
}

@media only screen and (min-width: 768px) {
    .box_btnback {
        width: 100px;
        padding: 0px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .box_btnback a div {
        display: inline-block;
        margin-left: 8px;
    }
}