.box_btnplay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #dddddd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 9px 8px 8px 12px;
}
.box_btnplay:hover {
    background: #cecece;
}
.box_btnplay a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}
.box_btnplay img {
    height: 20px;
}
.box_btnplay div {
    display: none;
    color: #D00000;
}

@media only screen and (min-width: 768px) {
    .box_btnplay {
        width: 100px;
        padding: 0px 13px;
    }
    .box_btnplay a div {
        display: inline-block;
        margin-left: 8px;
    }
}