.head_titulo {
    text-align: center;
    font-size: 16px;
    background: #B0DAEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: .5em 0;
}

.cronograma_head {
    background-color: #B0DAEB;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 15px 15px 5px 5px;
}
.cronograma_row {
    background: #D5D5D5;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
}
.cronograma_row-day {
    display: flex;
    justify-content: center;
}
.cronograma_row-day > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    
    border-radius: 50%;
}


.cronograma_foot {
    background: #D5D5D5;
    padding: 5px;
    border-radius: 5px 5px 15px 15px;
}

.cronograma_row-week > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    border-radius: 14px;
}



.cron_week {
    display: flex;
    justify-content: space-between;
}

.btn-edit {
    background-color: rgba(255, 255, 255, 0);
    width: 28px;
    height: 28px;
    border-radius: 14px;
    cursor: pointer;
}
.btn-edit:hover {
    background-color: rgb(192, 192, 192);
    transition: .5s ease all;
}
.btn-edit-month {
    background-color: rgba(255, 255, 255, 0);
    width: 28px;
    height: 28px;
    border-radius: 14px;
    cursor: pointer;
}
.btn-edit-month:hover {
    background-color: #96c9dd;
    transition: .5s ease all;
}