.box_form-message {
    position: fixed;
    bottom: -18px;
    left: 0px;
    width: 100%;
}
.box_form-refreshbtn {
    background-color: #f0f0f0;
    border: 1px solid #cecece;
    border-radius: 5px 0px 0px 5px;
    padding: 0 3px;
}
.box_form-refreshbtn:hover {
    background-color: #d3d3d3
}
.box_form-refreshbtn img {
    width: 30px;
}

.box_form-mgsid {
    text-align: right;
    font-style: italic;
    font-size: 14px;
}
.box_form #idcancion {
    border-radius: 0px 5px 5px 0px;
}

@media only screen and (min-width:768px) {
    .box_form-message {
        position: relative;
    }
}