@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.box_navbar {
    color: #2A71B2;
    /*background-color: #d4d4d496;*/
    background-color: #ccd1d4;
    background-image: linear-gradient(62deg, #ccd1d4 0%, #e4e9fb 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.box_navbar-link-left {
    display: none;
}


.box_navbar-logo img {
    width: 55px;
}

.box_navbar-link a {
    margin: 12px 0px;
    text-decoration: none;
}
.box_navbar-link a:hover {
    color: #1f619e;
}
.activo {
    color: #1f619e;
}

@media only screen and (min-width: 768px) {
    .box_navbar-link {
        display: flex;
        position: static;
        width: 100%;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-between;
        backdrop-filter: none;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .box_navbar-link a {
        margin: 0px 8px;
        text-decoration: none;
    }
    .box_navbar-link.active {
        animation: none;
        position: static;
        display: flex;
    }

    .box_navbar-link-left {
        display: flex;
        align-items: center;
    }
    .box_navbar-link-right {
        display: flex;
        align-items: center;
    }

}