@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.box_navbar {
    color: #2A71B2;
    /*background-color: #d4d4d496;*/
    background-color: #ccd1d4;
    background-image: linear-gradient(62deg, #ccd1d4 0%, #e4e9fb 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}


.box_navbar-logo img {
    width: 55px;
    margin: 0 1em;
}


.box_navbar-link {
    position: fixed;
    top: 0px;
    background-color: rgba(228, 228, 228, 0.95);
    backdrop-filter: blur(2px);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}
.box_navbar-link-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_navbar-link-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}
.box_navbar-link-right button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 0 0px;
    color: #2A71B2;
    font-size: 28px;
    display: inline-block;
    margin-top: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_navbar-link h4 {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
.box_navbar-link a {
    margin: 12px 0px;
    text-decoration: none;
}
.box_navbar-link a:hover {
    color: #2165a5;
    border-bottom: 1px solid #2165a5;
}
.activo {
    color: #2165a5;
    border-bottom: 1px solid #2165a5;
}
.box_navbar-link.active {
    display: inline-block;
    transition: 1s ease all;
    animation: entrada .1s ease forwards;
}





.box_navbar-toggle {
    margin: 0 1em;
}
.box_navbar-toggle button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: cornflowerblue;
    font-size: 28px;
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (min-width: 768px) {
    .box_navbar-link {
        display: flex;
        position: static;
        width: 100%;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-between;
        backdrop-filter: none;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .box_navbar-link a {
        margin: 0px 8px;
        text-decoration: none;
    }
    .box_navbar-link-left {
        display: flex;
        flex-direction: row;
    }
    .box_navbar-link-right {
        flex-direction: row;
        justify-content: center;
        margin-right: .5em;
    }
    .box_navbar-toggle {
        display: none;
    }
    .box_navbar-link.active {
        animation: none;
        position: static;
        display: flex;
    }
    .box_navbar-link-right button {
        display: none;
    }
}