.contenedor {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ccd1d4;
    background-image: linear-gradient(62deg, #ccd1d4 0%, #e4e9fb 100%);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    height: 52px;
    text-align: center;

    justify-content:space-around;
    align-items: center;
}

.contenedor a {
    width: 33%;
    height: 82%;
    padding: 0px 1px 1px 1px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}
.contenedor a:hover {
    background-color: #bfc9cf;
}
.contenedor a:active {
    background-color: #ccd1d4;
}
.contenedor a img {
    height: 26px;
    width: 26px;
}

.btn-activo {
    background-color: #bfc9cf;
}

@media only screen and (min-width: 768px) {
    .contenedor {
        display: none;   
    }
}