.box_searchbox {
    display: flex;
    align-items: center;
    height: 50px;
    background: #D5D5D5;
    border-radius: 50px;
    padding: 10px;
}
.box_searchbox img {
    width: 23px;
}
.box_searchbox input {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0px 5px;
    padding: 3px;
    width: 100%;
}
.box_searchbox input:focus {
    outline: none;
    border-bottom: 1px solid#2A71B2;
    transition: .5s ease all;
}
.box_searchbox button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 28px;
    padding: 0px 8px;
}
.box_searchbox button:hover {
    color: #2A71B2;
}

@media only screen and (min-width: 768px) {
    .box_searchbox {
        width: 680px;
        align-items: center;
    }
}